*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: purple;
    color: black;
    padding: 40px;
    line-height: 1.5;
}

p{
    font-size: large;
    font-weight: bold;
    font-style: oblique;
}

/* RECIPE CARD */
.recipe-card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 40px;
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
}

.recipe-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 30px; 
}

h2 {
    font-size: 40px;
  font-family: 'Young Serif', serif;
}

/* NUTRITION SECTION */
.nutrition-container{
    background-color: violet;
    border-radius: 10px;
    width: 100%;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse; 
}

td {
  padding: 10px 24px;        
  border-bottom: 1px solid black;
} 


tr:last-child td {
  border-bottom: none;
}

@media screen and (max-width: 600px) {
    .recipe-card {
padding: 20px 0;
width: 100%;
background-color: burlywood;

    }

    h2{
        font-size: 24px;
    }

    body{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 10px;
    }
}
